exclude: ^(sphinx|doc)

repos:
  - repo: local
    hooks:
      - id: pre_commit_autoupdate
        name: pre-commit autoupdate
        entry: pre-commit autoupdate
        language: system
        pass_filenames: false
        stages:
          - pre-push
      - id: poetry-update
        name: poetry update
        entry: poetry update
        language: system
        pass_filenames: false
        stages:
          - pre-push
      - id: pytest
        name: pytest ./tests
        entry: pytest -p no:warnings ./tests
        language: system
        pass_filenames: false
      - id: update_requirements
        name: update requirements.txt
        entry: poetry export -f requirements.txt --output requirements.txt --with dev
        language: system
        pass_filenames: false
        stages:
          - pre-push
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        args: [ --in-place, --remove-all-unused-imports, --ignore-init-module-imports ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      # - id: no-commit-to-branch    # To be included when other contributions join the project
  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.12.1
    hooks:
      - id: black
        args: [ --line-length=120 ]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        # to identify additional_dependencies, run: flake8 --version
        additional_dependencies: [flake8-pyproject,
                                  flake8-pytest-style,
                                  flake8-broken-line,
                                  flake8-fixme,
                                  flake8-implicit-str-concat,
                                  flake8-noqa,
                                  flake8-return,
                                  flake8-unused-arguments,
                                  flake8-useless-assert,
                                  pep8-naming,
                                  pydoclint,
                                  pycodestyle,
                                  pyflakes,
                                  mccabe,
                                  tryceratops]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    -   id: mypy
        args: [ -p=langstring ]
        language: python
        types: [ python ]
        pass_filenames: false
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: pydocstyle
        description: pydocstyle is a static analysis tool for checking compliance with Python docstring conventions.
        entry: pydocstyle
        language: python
        types: [ python ]
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml
        stages:
          - pre-push
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.10
    hooks:
      - id: vulture
  - repo: local
    hooks:
      - id: update_documentation
        name: update documentation
        entry: python update_documentation.py
        language: system
        types: [ python ]
        pass_filenames: false
        stages:
          - pre-push
  - repo: https://gitlab.com/smop/pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: check-poetry
        name: Poetry check
        description: Validates the structure of the pyproject.toml file
        entry: poetry check
        language: system
        pass_filenames: false
        files: pyproject.toml
        stages:
          - pre-push

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [ pytest ] # pytest is not necessary as there is already a workflow for that
  submodules: false
