name: Code testing

on: push

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - name: Harden Runner
        if: runner.os == 'Linux'
        uses: step-security/harden-runner@v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry==2.1.3

      - name: Install dependencies with Poetry
        run: |
          poetry install --all-extras --with dev

      - name: Testing with pytest
        run: poetry run pytest ./tests/
