name: dependabot-auto-merge

on:
  pull_request:

jobs:
  auto-merge-dependabot:
    runs-on: ubuntu-latest
    # Only run if the PR was created by Dependabot
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v5.0.1

      - name: Auto merge dependabot PR
        uses: ahmadnassri/action-dependabot-auto-merge@v2.6.6
        with:
          target: all
          botName: dependabot
          github-token: ${{ secrets.AUTO_MERGE_DEPENDABOT }}
